# style/news.css
# style/about_style.css
# style/available_positions.css
# style/contacts.css
# style/homepage_header.css
# style/homepage.css
# style/infrastructure.css
# style/main_design.css
# style/modern_cottage_style_header.css
# style/style_service.css
# style/work_style.css

#######################################
#            .gitignore               #
#######################################

# Файлы, начинающиеся с точки являются скрытыми, поэтому перед точкой не надо ничего писать
# Конкретно файл .gitignore нужен для того, чтобы при коммитах гит не включал файлы и деректории,
# указанные в нём в индексацию файлов проекта.
# Как правило в нём указываются переменные окружения, хранящие секретную информацию по типу токенов,
# пакеты библиотек, собранные бинари приложения, скомпилированные файлы итд

# В данном случае - ты указал список файлов со стилями,
# если бы название файла было просто .gitignore, то эти файлы не попали бы в гит
