.main__header {
  position: relative;
  text-align: center;
}

.construction-content,
.values__container {
  margin-top: 7rem;
  box-sizing: border-box;
}

.construction-content__text,
.values__text {
  margin: 2rem 0 4rem;
}

.createx-video {
  width: 70%;
  max-height: 900px;
}

.values__container {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.values__list {
  justify-content: space-evenly;
}

.values__item {
  max-width: 285px;
}

.form__quest {
  background: white;
  position: absolute;
  width: 1600;
  height: 243;
  padding: 1rem 2rem 2rem;
  bottom: -23.5%;
  left: 30%;
  text-align: center;
}

.form__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__item {
  max-width: 260px;
  margin: 0 1rem;
  text-align: start;
}

.form__text {
  color: var(--gray800);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.form input {
  width: 100%;
  height: 44px;
  background: var(--gray200);
  border: 1px solid var(--gray400);
  border-radius: 4px;
  margin: .5rem 0 1rem;
}

.form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray600);
  font-weight: 400;
}

.item_message {
  width: 414px;
}

.form__button {
  width: 105px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  margin: 10px 0 0;
}


.services__section {
  position: relative;
  align-content: center;
  text-align: center;
  height: 800px;
  padding: 0 345px;
  padding-top: 10rem;
  overflow: hidden;
}

.services__text {
  margin: 1rem 0 2rem;
}

.list__services {
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: pointer;
}

.item__services {
  width: 12vw;
  aspect-ratio: 1;
  align-content: center;
  background: white;
  margin: 12px;
}

.services__link svg {
  margin: 0 auto;
}

.item__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray900);
}

.item__services:hover {
  background: url(img/service/image_section_Interior_design.jpg) center/cover, no-repeat;
}

.item__services:hover .services__link svg {
  fill: white;
}

.item__services:hover .item__text {
  color: white;
}

.link-services__section {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.link-services__subtitle {
  width: 500px;
  margin-left: 20%;
}

.btn__services--link {
  max-width: 207px;
}


.bg__image-services {
  position: absolute;
  background: var(--gray300);
  top: 0;
  left: 0;
  z-index: -20;
}


.section__project {
  padding: 10rem 17.5vw;
}

.project__header {
  max-width: 1250px;
  display: flex;
  align-items: flex-end;
}

.project__title {
  margin-right: 40%;
}

.block__buttons {
  display: inline-flex;
}

.button__list--hover:hover {
  background: var(--orange);
  border-radius: 50%;
}

.list--rights img:nth-child(2) {
  display: none;
}


.list--rights:hover img:nth-child(1) {

  display: none;
}

.list--rights:hover img:nth-child(2) {
  display: block;
  margin: auto;
}


.container__project {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.card__project {
  position: relative;
  max-width: 20vw;
  max-height: 440px;
  box-sizing: border-box;
  overflow: hidden;
}

.project__img {
  display: block;
  width: 21vw;
  height: 440px;
  z-index: -10;
}

.link__project {
  text-align: center;
  background: white;
  z-index: 10;
  position: absolute;
  bottom: -47px;
  width: 100%;
}

.project__text {
  margin: 5px 0;
}

.btn__project {
  padding: 12px 18px;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  background: transparent;
  color: var(--orange);
  border: 1px solid var(--orange);
}


.link__project:hover {
  bottom: 0;
}

.portfolio__link {
  display: flex;
  align-items: center;
}

.portfolio__subtitle {
  width: 300px;
  margin-left: 25%;
}

.section--supported {
  background: var(--gray300);
  padding: 10rem 345px;
  text-align: center;
  position: relative;
}

.section__items {
  display: flex;
  margin: 4rem 0 10rem;
  justify-content: space-between;
}

.reviews {
  max-width: 550px;
  text-align: start;
}

.item--profile {
  margin-top: 3rem;
}

.reviews__text {
  margin: 1rem 0;
}

.reviwes__swipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text span {
  font-weight: 700;
  color: var(--gray900);
  font-size: 16px;
  line-height: 25.6px;
}


.reviews__button {
  background: transparent;
  margin: 2rem 5px 0;
}

.reviwes__img {
  max-width: 495px;
  max-height: 550px;
  position: absolute;
  bottom: -5%;
  right: 345px;
}


.section--news {
  padding: 10rem 0;
}

.section__facts {
  text-align: center;
}

.facts__progress {
  display: flex;
  max-width: fit-content;
  margin: 4rem auto;
}

.item__progress {
  margin: 0 2rem;
  position: relative;
  width: 148px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  align-content: center;
}

.item__progress::after {
  width: 100%;
  position: absolute;
  bottom: -25%;
  right: 0;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.progress--yellou {
  border: 6px solid #F89828;
}

.progress--yellou::after {
  content: "Totally satisfied clients";
}

.progress--pink {
  border: 6px solid #F52F6E;
}

.progress--pink::after {
  content: "Years of experience";
}

.progress--blue {
  border: 6px solid #5A87FC;
}

.progress--blue::after {
  content: "Working hours spent";
}

.progress--green {
  border: 6px solid #03CEA4;
}

.progress--green::after {
  content: "Succeeded projects";
}

.section__news {
  margin-top: 10rem;
  text-align: center;
}

.news__content {
  margin: 2rem auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 5rem;
}


.img__content {
  display: block;
  width: 100%;
  height: 100%;
}

.content .content__info {
  background: white;
  text-align: start;
}

a {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray900);
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

.news__items {
  display: flex;
}

.news__item {
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray700);
}

.content--1 {
  grid-row: 1/3;
  grid-column: 1/2;

}

.content--2 {
  grid-row: 1/2;
  grid-column: 2/3;

}

.content--3 {
  grid-row: 2/3;
  grid-column: 2/3;

}


.news__posts {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  margin-left: 38%;
}

h3 {
  max-width: 350px;
  margin-right: 2rem;
}