.subtitle {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

.main__header {
  padding: 2rem 16vw;
  align-items: center;
}

.section__offer {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.offer__img {
  display: block;
  max-width: 725px;
  max-height: 455px;
}

.post {
  padding: 1rem 0;
  max-width: 370px;
}

.post__title {
  font-weight: 900;
  margin-bottom: 2rem;
}

.post__text {
  margin: 2rem 0;

}

.post__subtitle {
  position: relative;
}

.post .post__subtitle,
.post .post__text {
  margin-left: 1.5rem;
}

.subtitle_minus::before {
  content: url(img/icon/minus.svg);
  top: -8px;
}

.subtitle_plus::before {
  content: url(img/icon/plus.svg);
}

.subtitle_minus::before,
.subtitle_plus::before {
  position: absolute;
  left: -2rem;
}

.step__list {
  display: flex;
}

.step__item {
  position: relative;
  max-width: 285px;
  margin: 0 1rem;
}

.step__item .text span {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray900);
  line-height: 30px;
}

.number {
  text-align: center;
  align-content: center;
  max-width: 80px;
  height: 80px;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  color: var(--gray400);
}

.number:hover {
  color: var(--orange);
  background: radial-gradient(farthest-corner at 50% 50%, rgba(216, 86, 26, 0.664) 46%, rgba(231, 107, 49, 0.562) 55%);
  border-radius: 50%;
}

.number:not(:last-child):after {
  position: absolute;
  right: 0;
  content: "-------------";
  color: var(--gray400);
}

.section__benefits {
  background: var(--gray900);
  text-align: center;
  height: 580px;
  position: relative;
}

.benefits__title,
.benefits__text,
.benefits__item h3,
.benefits__item p {
  color: white;
}

.benefits__title {
  margin-top: 3rem;
}

.benefits__text {
  margin: 2rem;
}

.benefits__items {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.benefits__item {
  max-width: 275px;
}

.benefits__item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 2rem 0 1rem;
}

.benefits__btn {
  position: absolute;
  left: 44%;
  bottom: -4%;
  width: 310px;
}

.section__pricing {
  background: var(--gray300);
  text-align: center;
  position: relative;
}

.img__pricing--background {
  max-width: 1066px;
  max-height: 860px;
  position: absolute;
  top: 0;
  left: 0;
}

.pricing__title {
  margin-top: 3rem;
}

.pricing__text {
  margin: 2rem;
}

.pricing-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

tr th,
tr td {
  padding: 1rem;
}

tr th:nth-child(1),
tr td:nth-child(1) {
  text-align: start;
}

.pricing-table .no-child {
  text-align: center;
}

thead,
tbody tr:nth-child(even) {
  background-color: white;
}

.table__btn {
  padding: 1rem 2rem;
  border: 1px solid var(--orange);
  background: transparent;
  color: var(--orange);
}

.partners__title {
  margin-top: 6rem;
}

.section--supported {
  background: var(--gray300);
  margin-top: 3rem;
  padding: 10rem 345px;
  text-align: center;
  position: relative;
}

.partners__list {
  margin: 4rem 0;
  justify-content: space-between;
}