.header {
  height: 1500px;
}

.header__img-bg {
  top: 0;
}

.ready-project {
  max-width: 1240px;
  overflow: hidden;
}

.finished-foto__ready-project {
  margin-top: 1rem;
  margin-right: 1rem;
}

.preview {
  max-width: 1230px;
}

.project-goal {
  margin-top: 7rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.project-goal_description {
  max-width: 580px;
}

.project-goal_description .text {
  margin: 1rem 0;
  color: var(--gray800);
}

.project-goal__signboard {
  max-width: 490px;
  background: white;
  width: 490px;
  height: 316px;
  box-shadow: 1px 9px 10px 5px var(--gray400);
}

.project-goal__signboard p {
  margin: 1rem;
}

.project-goal__signboard p span {
  font-weight: 700;
  color: var(--gray900);
  margin: 0 1rem;
}

.section__constructive-decision {
  height: 570px;
  background: var(--gray200);
  position: relative;
}

.img__constructive-decision {
  max-width: 490px;
  max-height: 550px;
  position: absolute;
  left: 15%;
  bottom: -3%;
}

.container__constructive-decision {
  margin-left: 55%;
  align-content: center;
}

.list__constructive-decision {
  margin-top: 2rem;
  flex-direction: column;
}

.item__constructive-decision {
  margin: 1rem 0;
  list-style-image: url(img/icon/check.svg);
}