.header {
    height: 100%;
}

.header__img-bg {
    top: 0;
}

.ready-project {
    max-width: 1240px;
    overflow: hidden;
}

.preview {
    max-width: 1230px;
}

.project-goal {
    display: flex;
    justify-content: space-between;
}

.project-goal_description {
    max-width: 580px;
}

.project-goal__signboard {
    max-width: 490px;
}

.project-goal__signboard p span {
    font-weight: 700;
    color: var(--gray900);
    margin: 0 1rem;
}