.main {
    padding: 2rem 9vw;
    position: relative;
    background: white;
}

.main__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.section__image {
    width: 40vw;
    max-height: 20vwpx;
}

.section__content {
    width: 30vw;
}

.section__title {
    font-size: 32px;
    line-height: 48px;
}

.section__text {
    max-width: 470px;
    margin: 2rem 0;
}

.section__button {
    padding: 1rem 2rem;
    border: 1px solid var(--orange);
    background: transparent;
    color: var(--orange);
}

.main__bg-image {
    position: absolute;
    max-width: 791px;
    max-height: 637px;
    z-index: -2;
}

.image--rights {
    right: 0;
    top: 25%;
}

.image--left {
    left: 0;
    bottom: 0;
}
