.footer__sections_top {
  background: url(../img/footer/image_bg_form.png) center/cover, no-repeat;
  height: 826px;
  box-sizing: border-box;
  padding: 4% 0 4% 53%;
}

.form-wrapper {
  height: 666px;
  width: 495px;
  background: white;
  border: 1px solid var(--gray300);
  padding: 5%;
  box-sizing: border-box;
}

.footer__form-title {
  font-size: 28px;
  line-height: 42px;
  color: var(--gray900);
  margin-bottom: 1.5rem;
}

.footer__form-input {
  height: 44px;
}

.footer__form-input_massage {
  height: 66px;
}

.footer__form_checkbox-request {
  display: inline-flex;
}

.footer__form_button {
  width: 174px;
  height: 44px;
  margin: 7% 27%;
}

.footer__sections_bot {
  padding: 3rem 5rem;
  background: var(--gray900);
  height: 566px;
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
}

.soc-networks {
  max-width: 493px;
  max-height: 156px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.soc-networks__list {
  display: flex;
  column-gap: 1.5rem;
  margin-left: 3rem;
}

.soc-networks__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.subscribe {
  grid-column: 3/4;
  max-width: 495px;
}

.subscribe__title {
  color: white;
  font-size: 24px;
  line-height: 36px;
  box-sizing: border-box;
}

.input__subscribe {
  width: 60%;
  height: 44px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-sizing: border-box;
}

.subscribe__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.button__subscribe {
  width: 131px;
  height: 44px;
  margin-left: -3.5px;
  border-radius: 0%;
}

.wrappers-address {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: inherit;
}

.list_margin-top {
  margin-top: 4rem;
}

.address__item {
  margin: 1rem 0;
}

.address__link span {
  color: white;
  font-style: normal;
}

.link_bold {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.copyright {
  display: flex;
  align-items: end;
}

.top-button {
  width: 40px;
  height: 40px;
  margin-top: 150px;
  margin-left: 255%;
  position: relative;
}

.top-button::before {
  content: "GO TO TOP";
  color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: -90px;
  bottom: 0;
}

.top-btn img {
  position: absolute;
  left: 30%;
  top: 35%;
}