:root {
  --gray900: #1E212C;
  --gray200: #F4F5F6;
  --gray300: #E5E8ED;
  --gray400: #D7DADD;
  --gray600: #9A9CA5;
  --gray700: #787A80;
  --gray800: #424551;
  --orange: #FF5A30;
}

html {
  font-family: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  font-size: 16px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  padding: 7.5rem 21.5rem;
}

p {
  color: var(--gray700);
  font-family: Ubuntu;
  line-height: 160%;
}

.list {
  display: flex;
}

.link {
  font-weight: 700;
  line-height: 160%;
  color: var(--gray800);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.text--l {
  font-size: 14px;
  line-height: 150%;
}

.text--m {
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: var(--gray900);
}

.title {
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  color: var(--gray900);
}

.subtitle {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

.button-orange {
  background: var(--orange);
  color: white;
}

.button-orange:hover {
  background-color: #d94b2c;
}

.button-perspicuus {
  border: 1px solid var(--orange);
  background: transparent;
  color: var(--orange);
}
.button__list {
  background: transparent;
  min-width: 48px;
  height: 48px;
}

.block-buttons {
  display: flex;
}

.form__text {
  color: var(--gray800);
  font-weight: 400;
}

.form-input {
  width: 100%;
  background: var(--gray200);
  border: 1px solid var(--gray400);
  border-radius: 4px;
  margin: .5rem 0 1rem;
  padding-left: 5px;
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray600);
  font-weight: 400;
}