.main__header {
  position: relative;
  text-align: center;
}

.construction-content{
  box-sizing: border-box;
}

.construction-content__text{
  margin: 2rem 0 4rem;
}

.createx-video {
  width: 100%;
  max-height: 900px;
}

.homepage-values {
  margin-bottom: 10rem;
}

.form-quest {
  box-sizing: border-box;
  background: white;
  box-shadow: 1px 9px 10px 5px var(--gray400);
  position: absolute;
  width: 1230px;
  height: 230px;
  padding: 0 2rem;
  bottom: -18.5%;
  left: 18%;
  text-align: center;
  z-index: 20;
}

.form-quest__subtitle {
  margin: 2rem 0;
}

.form__list {
  align-items: center;
  justify-content: space-around;
}

.form__item {
  width: 260px;
  text-align: start;
}

.form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray600);
  font-weight: 400;
}

.item_message {
  width: 415px;
}

.form-quest__button {
  width: 105px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 11px;
}


.services {
  position: relative;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  height: 880px;
  padding-top: 10rem;
  overflow: hidden;
}

.services__text {
  margin: 1rem 0 2rem;
}

.list__services {
  justify-content: space-evenly;
  cursor: pointer;
}

.item__services {
  width: 12vw;
  aspect-ratio: 1;
  align-content: center;
  background: white;
  margin: 12px;
}

.services__link svg {
  margin: 0 auto;
}

.item__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray900);
}

.item__services:hover {
  background: url(../img/service/image_section_Interior_design.jpg) center/cover, no-repeat;
  border-radius: 5px;
}

.item__services:hover .item__text, 
.item__services:hover path {
  fill: white;
  color: white;
}

.link-services__section {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}

.link-services__subtitle {
  width: 500px;
  margin-left: 20%;
}

.btn__services--link {
  max-width: 207px;
}

.bg__image-services {
  position: absolute;
  background: var(--gray300);
  top: 0;
  left: 0;
  z-index: -5;
}

.facts-news {
  padding: 10rem 0;
}

.facts {
  text-align: center;
}

.facts__progress {
  max-width: fit-content;
  margin: 4rem auto;
}

.item__progress {
  margin: 0 2rem;
  position: relative;
  width: 148px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  align-content: center;
}

.item__progress::after {
  width: 100%;
  position: absolute;
  bottom: -25%;
  right: 0;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.progress--yellou {
  border: 6px solid #F89828;
}

.progress--yellou::after {
  content: "Totally satisfied clients";
}

.progress--pink {
  border: 6px solid #F52F6E;
}

.progress--pink::after {
  content: "Years of experience";
}

.progress--blue {
  border: 6px solid #5A87FC;
}

.progress--blue::after {
  content: "Working hours spent";
}

.progress--green {
  border: 6px solid #03CEA4;
}

.progress--green::after {
  content: "Succeeded projects";
}

.news {
  margin-top: 10rem;
  text-align: center;
}



.content--1 {
  grid-row: 1/3;
  grid-column: 1/2;

}

.content--2 {
  grid-row: 1/2;
  grid-column: 2/3;

}

.content--3 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.news-posts {
  display: flex;
  align-items: center;
  margin-top: 15rem;
  margin-left: 38%;
}

.news-post__subtitle {
  max-width: 350px;
  margin-right: 2rem;
}