.main {
    padding: 0 21.5rem;
    position: relative;
    background: white;
}

.card {
    width: 1230px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 7rem 0;
}

.card__image {
    width: 575px;
    height: 420px;
}

.card__content {
    width: 575px;
}

.card__title {
    font-size: 32px;
    line-height: 48px;
}

.card__text {
    max-width: 470px;
    margin: 3rem 0;
}

.card__button {
    padding: 1rem 2rem;
    border: 1px solid var(--orange);
    background: transparent;
    color: var(--orange);
}

.main__bg-image {
    position: absolute;
    max-width: 791px;
    max-height: 637px;
    z-index: -2;
}

.image--rights {
    right: 0;
    top: 25%;
}

.image--left {
    left: 0;
    bottom: 0;
}
