.header {
  background-color: var(--gray200);
}

.bg {
  position: relative;
  height: 100%;
  padding: 0 345px;
  padding-top: 2rem;
  z-index: 0;
}

.menu {
  display: grid;
  grid-template-columns: .3fr 1fr .6fr;
  align-items: center;
  margin-bottom: 2rem;
}

.menu__list {
  gap: 2rem;
}

.item_contact {
  max-width: 200px;
  max-height: 48px;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.link_contact {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: var(--gray900);
}

.link_contact span {
  font-size: 14px;
  color: var(--gray800);
}

.header__img-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 975px;
  height: 670px;
}

.header__breadcrumb {
  color: var(--gray600);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.header__breadcrumb span {
  color: var(--gray800);
}

.header__title {
  font-size: 72px;
  line-height: 120%;
  margin: 2rem 0;
}

.header__text {
  max-width: 500px;
  font-size: 20px;
  line-height: 30px;
}

/*HEADER_HOMEPAGE*/

.homepage-menu {
  margin: 0;
  padding: 1rem 21.5rem;
}

.header__content {
  background: url(../img/Homepage/bg-image_header.jpg) center/cover, no-repeat;
  box-sizing: border-box;
  width: 100%;
  height: 988px;
  align-content: center;
}

.title__content {
  max-width: 610px;
  color: white;
  font-size: 72px;
  line-height: 93.6px;
  letter-spacing: 1px;
}

.title__content_span {
  color: var(--orange);
}

.text__content {
  max-width: 500px;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin: 2rem 0 5rem;
}

.header__content_block-buttons {
justify-content: space-between;
max-width: 526px;
}

.header__content_button-left {
  width: 278px;
  height: 52px;
  color: white;
  border: white solid 1px;
}

.header__content_button-right {
  width: 224px;
  height: 52px;
}

.list__content {
  margin-top: 12%;
}

.item__content {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.445);
  width: 178px;
  height: 54px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.445);
  margin: 0 .5rem;
}

.item__content:hover {
  color: white;
  border-bottom: 3px solid white;
}

.next-previous__button {
  text-align: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.411);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 52.5%;
}

.next-previous__button:hover {
  background: white;
}

.previous-button {
  left: 2%;
}

.next-button {
  right: 2%;
}

/*header_modern*/

.header__cottage {
  background: white;
  height: 1500px;
}

.header__img-bg_cottage {
  width: 600px;
  height: 820px;
  top: 0;
}

.ready-project {
  width: 1230px;
  overflow: hidden;
  position: relative;
}

.ready-project__button {
  top: 38%;
}

.finished-foto__ready-project {
  margin-top: 1rem;
  margin-right: 1rem;
}

.preview {
  max-width: 100%;
}

.project-goal {
  margin-top: 7rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.project-goal_description {
  max-width: 580px;
}

.project-goal_description .text {
  margin: 1rem 0;
  color: var(--gray800);
}

.project-goal__signboard {
  max-width: 490px;
  background: white;
  width: 490px;
  height: 316px;
  box-shadow: 1px 9px 10px 5px var(--gray400);
}

.project-goal__signboard p {
  margin: 1rem;
}

.project-goal__signboard p span {
  font-weight: 700;
  color: var(--gray900);
  margin: 0 1rem;
}

/*header_How to Build Climate Change-Resilient Infrastructure*/

.wrapper-media-social {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media__item {
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 160%;
  color: var(--gray700);
}

.media__item_data {
  list-style-image: url(../img/icon/Clock.svg);
  list-style-position: inside;
}

.media__item_comment {
  list-style-image: url(../img/icon/Chat-gray.svg);
  list-style-position: inside;
}

.social {
  gap: 12px;
  align-items: center;
}

.header__img_bottom-bg {
  max-width: 1230px;
  max-height: 500px;
  position: absolute;
  bottom: -67%;
}

/*available_positions*/

.header__img-bg_available-positions {
  bottom: 0;
  height: 506px;
}

/* Header_NEWS*/

.header-news__img-bg {
  width: 1080px;
  height: 100%;
}